<p>{{greeting}}</p>
<p>{{body}}</p>

<div class="order-details">
  <h3>📋 {{orderDetailsTitle}}</h3>
  <table>
    <tr>
      <td>{{orderIdLabel}}:</td>
      <td>#{{orderId}}</td>
    </tr>
    <tr>
      <td>{{formLabel}}:</td>
      <td>{{formName}}</td>
    </tr>
    <tr>
      <td>{{entriesLabel}}:</td>
      <td>{{entries}}</td>
    </tr>
    <tr>
      <td>{{creditsLabel}}:</td>
      <td>{{credits}}</td>
    </tr>
    <tr>
      <td>{{totalCostLabel}}:</td>
      <td><strong>${{totalCost}}</strong></td>
    </tr>
  </table>
</div>

<p>{{processingMessage}}</p>
<p>{{dashboardMessage}}</p> 